/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*

*/
:root {
    --blue: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f8f8f2;
        --foreground-color: #282a36;
    }
}
@media(prefers-color-scheme: dark) {
    :root {
        --background-color: #282a36;
        --foreground-color: #f8f8f2;
    }
}


html, body {
	height: 100%;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: 'Poppins', sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 3em;
	margin-bottom: 0.5em;
}

form {
	display: inline-block;
}

#input {
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: var(--foreground-color);
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	background-color: var(--blue);
	margin-bottom: 0.4em;
}

#submit {
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: var(--foreground-color);
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	background-color: var(--purple);

	transition: background-color ease-in 0.5s;
}

#submit:hover {
	background-color: var(--pink);
}

#foss {
	position: absolute;
	right: 1%;
	bottom: 1%;
	font-size: 2em;
	color: var(--foreground-color);
	text-decoration: none;

	transition: color ease-in 0.5s;
}
#foss:hover {
	color: var(--purple);
}

a {
	color: var(--foreground-color);
	font-size: 1.3em;
	text-decoration-color: var(--purple);
	transition: text-decoration-color ease-in 0.5s;
}
a:hover {
	text-decoration-color: var(--pink);
}

@media only screen and (min-width: 1000px) {
	h1 {
		font-size: 4em;
	}
	a {
		font-size: 2em;
	}
}